body {
  background: url(../img/background/1.jpg) repeat; 
}

button {
  margin-top: 0.5em !important; 
}

.button:active, button:active {
  background-color: #fbcf4d;
}

input[type="radio"], input[type="checkbox"] {
  opacity: 0;
}

input[type="radio"] + .check-wrap, input[type="checkbox"] + .check-wrap {
  position: absolute;
  left:     8%;
  top:      -10%;
}

input[type="radio"]:checked + .check-wrap,  input[type="checkbox"]:checked + .check-wrap  {
  background:      url(../img/check.png) no-repeat;
  background-size: cover;
  width:           1.2em;
}

.area {
  background-color: #e8d599;
  border:           2px outset #f2e6bf;
  font:             1.5em Georgia, "Century Schoolbook L", Serif;
  margin-left:      3%;
  margin-top:       5%;
  width:            45%;
}

.border {
  border: 2px outset #d6963a;
}

.button {
  cursor:              pointer;
  -moz-user-select:    -moz-none;
  -o-user-select:      none;
  -khtml-user-select:  none;
  -webkit-user-select: none;
  user-select:         none;
}

.check-group {
  cursor:        pointer;
  display:       inline-block;
  margin-bottom: 2%;
  margin-right:  10%;
  min-width:     130px;
  width:         27%;
}

.check-wrap {
  position:   relative;
  float:      right;
  height:     1em;
  margin-top: 5%;
  width:      1em;
}

.cell {
  background: #ebdaa3;
  background: linear-gradient(to right, #ebdaa3, #e8d599);
  border:     1px solid #d6963a;
  display:    inline-block;
}

.cell-word {
  background: #fbd250;
}

.cell-letter {
  background: #f8ae20;
}

.cell-5 {
  height: 4em;
  width:  4em;
}

.cell-6 {
  height: 3.3em;
  width:  3.3em;
}

.cell-7 {
  height: 2.8em;
  width:  2.8em;
}

.control {
  background-color: #ead89f;
  border-radius:    5px;
}

#game-field {
  border-collapse: collapse;
  margin-top:      5%;
  margin-left:     4%;
}

.game-name {
  margin-right:   4%;
  padding-bottom: 1%;
  position:       absolute;
  text-align:     center;
  width:          15%;
}

.game-name-text-big{
  font:        2.65em Georgia, "Century Schoolbook L", Serif;
  padding-top: 2%;
}

.game-name-text-small{
  font:     0.5em Georgia, "Century Schoolbook L", Serif;
  float:    right;
  position: absolute;
  top:      -12%;
  right:    3%;
}

.input-group {
  margin-top: 10%;
  position:   relative;
}

.input-group .button {
  border-left:   1px solid #d6963a;
  border-radius: 0 5px 5px 0;
  font-size:     265%;
  padding:       2%;
  position:      absolute;
  right:         -2%;
}

.input-group .input-text {
  left:          0;
  overflow:      hidden;
  padding:       2% 0 2% 2%;
  position:      absolute;
  text-overflow: clip;
  width:         100%;
  white-space:   nowrap;
}

.input-text {
  border:        0;
  font-size:     265%;
  margin-bottom: 2%;
  padding:       2%;
  width:         95%;
}

.letter {
  margin-right:   4%;
  padding-bottom: 1%;
  position:       absolute;
  text-align:     center;
  width:          15%;
}

#main, .main {
  position:  relative;
  border:    0;
  margin:    3% auto;
  width:     360px;
}

.middle-div {
  padding-bottom: 2%;
  padding-top:    2%;
  width:          90%;
}

#popup_container {
  font-family: Georgia, serif;
  color: #ead89f;
  background:  	#F5F5DC;
  border: solid 3px #d6963a !important;
}

#popup_cancel {
  background-color:  #ead89f;
  color:             #000000;
  cursor:            pointer;
  font:              2.65em Georgia, "Century Schoolbook L", Serif;
  margin: 5%;
}

#popup_ok {
  cursor:           pointer;
  font:             2.65em Georgia, "Century Schoolbook L", Serif;
  color:            #000000;
  background-color: #ead89f;
}

#popup_container #popup_title {
  font:              2.65em Georgia, "Century Schoolbook L", Serif;
  color:             #000000;
  font-weight:       normal;
  text-align:        left;
  background-color:  #ead89f;
  border:            solid 1px #d6963a;
  padding-left:      1em;
}

#popup_container #popup_content {
  background: none;
}

#popup_container #popup_message {
  color: black;
  padding-left: 0;
}

#popup_message {
  font:   2.65em Georgia, "Century Schoolbook L", Serif;
  color: #000000;
}

#popup_overlay {
  background-color: #000000 !important;
  opacity:          0.5 !important;
}

.text {
  font:   2.65em Georgia, "Century Schoolbook L", Serif;
  margin: 0.5%;
}

.text-cell {
  font:   1.25em Georgia, "Century Schoolbook L", Serif;
}

.text-disabled {
  color: #ab9a87;
}

.text-disabled:active {
  background-color: #ead89f;
}

.text-shadow {
  text-shadow:         1.5px 1.5px 1px white;
  -moz-text-shadow:    1.5px 1.5px 1px white;
  -webkit-text-shadow: 1.5px 1.5px 1px white;
}

.shadow {
  box-shadow:         10px 10px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:    10px 10px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.small {
  width: 40%;
}
