body {
  background: url(../img/background/1.jpg) repeat; 
}

button {
  margin-top: 0.5em !important; 
}

button:active {
  box-shadow:         0 0 0 10px rgba(255, 0, 0, 0.5);
  -moz-box-shadow:    0 0 0 10px rgba(255, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 0 10px rgba(255, 0, 0, 0.5);
}

.border {
  border: 2px solid #f2e6bf #d1bc7e #d1bc7e #f2e6bf;
}

.control {
  background-color: #ead89f;
  border-radius:    5px;
}

input[type="radio"], input[type="checkbox"] {
  opacity: 0;
}

input[type="radio"] + .check-wrap, input[type="checkbox"] + .check-wrap {
  position: absolute;
  left:     8%;
  top:      -10%;
}

input[type="radio"]:checked + .check-wrap,  input[type="checkbox"]:checked + .check-wrap  {
  background:      url(../img/check.png) no-repeat;
  background-size: cover;
  width:           1.2em;
}

.check-group {
  cursor:        pointer;
  display:       inline-block;
  margin-bottom: 2%;
  margin-right:  10%;
  min-width:     130px;
  width:         27%;
}

.check-wrap {
  position:   relative;
  float:      right;
  height:     1em;
  margin-top: 5%;
  width:      1em;
}

.cell {
  background: #ebdaa3;
  background: linear-gradient(to right, #ebdaa3, #e8d599);
  border:     1px solid #d6963a;
  cursor:     pointer;
  display:    inline-block;
}

.cell-5 {
  height: 4em;
  width:  4em;
}

.cell-6 {
  height: 3.3em;
  width:  3.3em;
}

.cell-7 {
  height: 2.8em;
  width:  2.8em;
}

#game-field {
  border-collapse: collapse;
  margin-top:      5%;
  margin-left:     2%;
}

.input-text {
  border:        0;
  font-size:     265%;
  margin-bottom: 2%;
  padding:       2%;
  width:         95%;
}

#main {
  position:  relative;
  border:    0;
  margin:    3% auto;
  width:     360px;
}

.text {
  font:                2.65em Georgia, "Century Schoolbook L", Serif;
  text-shadow:         1.5px 1.5px 1px white;
  -moz-text-shadow:    1.5px 1.5px 1px white;
  -webkit-text-shadow: 1.5px 1.5px 1px white;
  margin:              0.5%;
}

.shadow {
  box-shadow:         10px 10px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:    10px 10px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.small {
  width: 40%;
}


